<div id="ContentWrapper">

	<!--<button class="btn btn-info pull-left" href="#"></button>-->

	<ul class="nav ">
     	<button class="btn btn-info btn-block" ng-click="changeView('/getadmission')">Admissions</button>
	
	<button class="btn btn-info btn-block" ng-click="changeView('/scheduletour')">Schedule a Tour</button>
	<!--<div class="nav-wrapper pull-left">
                <ul class="nav nav-pills">
                    <li ng-class="active"><a href="#">Schedule a Tour</a></li>
                    <li ng-class="active"><a href="#/getadmission">Admissions</a></li>
                </ul>
        </div>-->


</div>
